2024sDemo/node-red/flows.json
[
    {
        "id": "434545ca01eaab8c",
        "type": "tab",
        "label": "demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f61a1a9a21342fb0",
        "type": "loop",
        "z": "434545ca01eaab8c",
        "name": "",
        "kind": "fcnt",
        "count": "11",
        "initial": "1",
        "step": "2",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 450,
        "y": 260,
        "wires": [
            [],
            [
                "f645dbb0e6abf643",
                "4b44b9e8b0d00d74",
                "4e0532103a3cf9aa"
            ]
        ]
    },
    {
        "id": "32a2e1882d31ca9f",
        "type": "inject",
        "z": "434545ca01eaab8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "f61a1a9a21342fb0"
            ]
        ]
    },
    {
        "id": "f645dbb0e6abf643",
        "type": "debug",
        "z": "434545ca01eaab8c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "4b44b9e8b0d00d74",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "f61a1a9a21342fb0"
            ]
        ]
    },
    {
        "id": "d3cd77aa28cee5b7",
        "type": "ui_numeric",
        "z": "434545ca01eaab8c",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "70d2e394327b3174",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "4e0532103a3cf9aa"
            ]
        ]
    },
    {
        "id": "4e0532103a3cf9aa",
        "type": "ui_slider",
        "z": "434545ca01eaab8c",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "70d2e394327b3174",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "5fb8a245a3f6e4a5"
            ]
        ]
    },
    {
        "id": "5fb8a245a3f6e4a5",
        "type": "ui_text",
        "z": "434545ca01eaab8c",
        "group": "70d2e394327b3174",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "name",
        "format": "{{msg.testcaseName}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 1520,
        "wires": []
    },
    {
        "id": "0f47598dc067796a",
        "type": "ui_button",
        "z": "434545ca01eaab8c",
        "name": "",
        "group": "70d2e394327b3174",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "34c135526c60346a"
            ]
        ]
    },
    {
        "id": "34c135526c60346a",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case1",
        "func": "\nmsg.testcaseName=\"case1\";\nmsg.payload=1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 540,
        "wires": [
            [
                "5fb8a245a3f6e4a5",
                "d631f91b4d22374d",
                "b92e15cd9bca3cf9",
                "0dfa17d223ea4e96"
            ]
        ]
    },
    {
        "id": "d631f91b4d22374d",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "e77d856682d705ee"
            ]
        ]
    },
    {
        "id": "e77d856682d705ee",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case2",
        "func": "\nmsg.testcaseName=\"case2\";\nmsg.payload=2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "5fb8a245a3f6e4a5",
                "b92e15cd9bca3cf9",
                "0dfa17d223ea4e96",
                "eeeee76fc6e286db"
            ]
        ]
    },
    {
        "id": "b92e15cd9bca3cf9",
        "type": "ui_text",
        "z": "434545ca01eaab8c",
        "group": "70d2e394327b3174",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "payload",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 1680,
        "wires": []
    },
    {
        "id": "0dfa17d223ea4e96",
        "type": "mqtt out",
        "z": "434545ca01eaab8c",
        "name": "",
        "topic": "inTopic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "96f1eac98c12bcdc",
        "x": 1060,
        "y": 1760,
        "wires": []
    },
    {
        "id": "eeeee76fc6e286db",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 760,
        "wires": [
            [
                "a12c5375685f2651"
            ]
        ]
    },
    {
        "id": "a12c5375685f2651",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case2",
        "func": "msg.testcaseName=\"case2\";\nmsg.payload=2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 840,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "da3835133bbafc0a"
            ]
        ]
    },
    {
        "id": "da3835133bbafc0a",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 940,
        "wires": [
            [
                "f4c89c75d2a5daa0"
            ]
        ]
    },
    {
        "id": "f4c89c75d2a5daa0",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case3",
        "func": "msg.testcaseName=\"case3\";\nmsg.payload=3;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "957e47c73978fc45",
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5"
            ]
        ]
    },
    {
        "id": "957e47c73978fc45",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 1120,
        "wires": [
            [
                "3408e838b70f0ded"
            ]
        ]
    },
    {
        "id": "3408e838b70f0ded",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case4",
        "func": "msg.testcaseName=\"case4\";\nmsg.payload=4;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1220,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "025d5d93c8085a86"
            ]
        ]
    },
    {
        "id": "025d5d93c8085a86",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 1340,
        "wires": [
            [
                "ae12e9053182334b"
            ]
        ]
    },
    {
        "id": "ae12e9053182334b",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case5",
        "func": "msg.testcaseName=\"case5\";\nmsg.payload=5;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1420,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "e0364c2246256d05"
            ]
        ]
    },
    {
        "id": "e0364c2246256d05",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 1520,
        "wires": [
            [
                "180316d912a706ad"
            ]
        ]
    },
    {
        "id": "180316d912a706ad",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case6",
        "func": "msg.testcaseName = \"case6\";\nmsg.payload = 6;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1600,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "677af76c2dda5045"
            ]
        ]
    },
    {
        "id": "677af76c2dda5045",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 1700,
        "wires": [
            [
                "1f55b7c13a38bd52"
            ]
        ]
    },
    {
        "id": "1f55b7c13a38bd52",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case6",
        "func": "msg.testcaseName = \"case6\";\nmsg.payload = 6;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1780,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "d23ca794bcd9d5dc"
            ]
        ]
    },
    {
        "id": "d23ca794bcd9d5dc",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1860,
        "wires": [
            [
                "2ad94db42caddaf8"
            ]
        ]
    },
    {
        "id": "2ad94db42caddaf8",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case7",
        "func": "msg.testcaseName = \"case7\";\nmsg.payload = 7;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1940,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "ca289f55f8ded7c5"
            ]
        ]
    },
    {
        "id": "ca289f55f8ded7c5",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 2020,
        "wires": [
            [
                "986216e29b686fd0"
            ]
        ]
    },
    {
        "id": "986216e29b686fd0",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case7",
        "func": "msg.testcaseName = \"case7\";\nmsg.payload = 7;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2100,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "f5a291ca9cb83318"
            ]
        ]
    },
    {
        "id": "f5a291ca9cb83318",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 2180,
        "wires": [
            [
                "29474516b5037735"
            ]
        ]
    },
    {
        "id": "29474516b5037735",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case8",
        "func": "msg.testcaseName = \"case8\";\nmsg.payload = 8;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2240,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "b3835e69329bce65"
            ]
        ]
    },
    {
        "id": "b3835e69329bce65",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 2340,
        "wires": [
            [
                "7b56b9f6af8d6e7b"
            ]
        ]
    },
    {
        "id": "7b56b9f6af8d6e7b",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case8",
        "func": "msg.testcaseName = \"case8\";\nmsg.payload = 8;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2440,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "1e4f732348f17079"
            ]
        ]
    },
    {
        "id": "1e4f732348f17079",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 2540,
        "wires": [
            [
                "2e6d9bd9d96465cd"
            ]
        ]
    },
    {
        "id": "2e6d9bd9d96465cd",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case9",
        "func": "msg.testcaseName = \"case9\";\nmsg.payload = 9;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 2640,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "6f335b6b60e3dfb0"
            ]
        ]
    },
    {
        "id": "6f335b6b60e3dfb0",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 2720,
        "wires": [
            [
                "7ceb15a40ea9d8e8"
            ]
        ]
    },
    {
        "id": "7ceb15a40ea9d8e8",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case9",
        "func": "msg.testcaseName = \"case9\";\nmsg.payload = 9;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2820,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "3e21cde9fb522eaa"
            ]
        ]
    },
    {
        "id": "3e21cde9fb522eaa",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 2920,
        "wires": [
            [
                "261bb0f939b0c8df"
            ]
        ]
    },
    {
        "id": "261bb0f939b0c8df",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case11",
        "func": "msg.testcaseName = \"11\";\nmsg.payload = 11;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 3000,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "802c8ab28c2b60fb"
            ]
        ]
    },
    {
        "id": "802c8ab28c2b60fb",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 3100,
        "wires": [
            [
                "6a96a0d33e876390"
            ]
        ]
    },
    {
        "id": "6a96a0d33e876390",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case12",
        "func": "msg.testcaseName = \"case12\";\nmsg.payload = 12;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 3200,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5",
                "203de1768601d7c6"
            ]
        ]
    },
    {
        "id": "203de1768601d7c6",
        "type": "delay",
        "z": "434545ca01eaab8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 3280,
        "wires": [
            [
                "58f37deb30e1e612"
            ]
        ]
    },
    {
        "id": "58f37deb30e1e612",
        "type": "function",
        "z": "434545ca01eaab8c",
        "name": "case1",
        "func": "msg.testcaseName = \"case1\";\nmsg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3360,
        "wires": [
            [
                "0dfa17d223ea4e96",
                "b92e15cd9bca3cf9",
                "5fb8a245a3f6e4a5"
            ]
        ]
    },
    {
        "id": "7f82e0ee676d11c6",
        "type": "ui_button",
        "z": "434545ca01eaab8c",
        "name": "",
        "group": "70d2e394327b3174",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "cancel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "msg",
        "x": 70,
        "y": 760,
        "wires": [
            [
                "d631f91b4d22374d",
                "eeeee76fc6e286db",
                "da3835133bbafc0a",
                "957e47c73978fc45",
                "025d5d93c8085a86"
            ]
        ]
    },
    {
        "id": "70d2e394327b3174",
        "type": "ui_group",
        "name": "demo1",
        "tab": "98baedf5bfc9b262",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96f1eac98c12bcdc",
        "type": "mqtt-broker",
        "name": "espap",
        "broker": "192.168.4.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "98baedf5bfc9b262",
        "type": "ui_tab",
        "name": "demo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]